@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --primary-color: #fb6a27;
  --darkpcolor: #0f0f0f;
  --gray-color: gray;
  --secondary: ;

  --h1-font-size: 40px;
  --h2-font-size: 32px;
  --small-font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

section {
  padding: 70px 0;
}

section .section-title {
  font-size: var(--h2-font-size);
  font-weight: bold;
}

.btn-orange {
  background-color: var(--primary-color);
  color: white;
}

.text-orange {
  color: var(--primary-color);
}

.text-dark {
  color: var(--darkpcolor);
}

.fs-7 {
  font-size: var(--small-font-size);
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--primary-color);
}

.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
  color: var(--primary-color);
}

.navbar-expand-lg {
  background-color: #e2ceb1;
}

.navbar-expand-lg li {
  margin-left: 10px;
  margin-right: 10px;
}

#Home {
  background: url("../image/bg1.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#AboutMe {
  background: url("../image/bg1.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#MyProject {
  background: url("../image/bg1.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#Contact {
  background: url("../image/bg1.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#Home h1 {
  padding-top: 150px;
}

.header-section .header-skill {
  color: var(--darkpcolor);
}

.header-section .header-skill:hover {
  color: var(--primary-color);
}

.header-section .header-skill i {
  transition: 0.3s;
}

.header-section .header-skill:hover i {
  transform: rotate(-45deg);
}

.header-section .header-img {
  width: 40vh;
}

#MyProject #ttt {
  padding-left: 45%;
  padding-top: 45px;
}
